/target
/logic/counter/target
/logic/counter/generated
/logic/counter/CounterLogic.xcframework
/logic/counter/app/CounterApp.xcodeproj
/logic/counter/app/build
/CounterView.swift
/CounterViewController.swift
/ToggleViewController.swift
/ProfileViewController.swift
.DS_Store
